.parentsClass {
    background-color: aliceblue;
    margin: 0 auto;
    width: 300px;
}

.error {
    border: 1px solid red;
}

.messageError {
    color: red;
}

.greeting {
    margin-top: 20px;
    margin-left: 10px;
}

.totalUsers {
    margin-top: 20px;
    margin-left: 35px;
}

.inputGeneralClass {
    margin-right: 15px;
}

.button {
    margin: 2px;
    border-radius: 5px;
    height: 30px;
    width: 55px;
    background-color: floralwhite;
}